@{
    ViewBag.Title = "Calculator";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Equation</title>
</head>
<body>
    
    <div>
        Уравнение: @ViewBag.Equat
    </div>
</body>
</html>
